<div class="level1">

    <div class="toolbar">
        <mat-toolbar style="height:100px;">

            <div class="image">
                <div class="icon">
                    <img src="shared_food_bank_icon_circle.png" width = 75 hieght = 75/>
                </div>
            </div>

            <div class="slogen">
                <h1>The roses in her hand, the flavor in mine.</h1>
            </div>

            <div class="functionButton">
                <button mat-raised-button>
                    Donate
                </button>
            </div>

            <div class="functionButton">
                <button mat-raised-button>
                    Login
                </button>
            </div>

            <div class="functionButton">
                <button mat-raised-button>
                    Signup
                </button>
            </div>
        
        </mat-toolbar>

    </div>

</div>

