<div class="level1">

    <div class="toolbar">
        <mat-toolbar style="height:100px;">

            <div class="image">
                <div class="icon">
                    <img src="shared_food_bank_icon_circle.png" width = 75 hieght = 75/>
                </div>
            </div>

            <div class="slogen">
                <h1>The roses in her hand, the flavor in mine.</h1>
            </div>

            <div class="functionButton">
                <a routerLink="/api/donate" routerLinkActive="mat-accent">
                <button mat-raised-button>
                    Donate
                </button>
                </a>
            </div>

            <div class="functionButton" *ngIf="!isAuthed">
                <a routerLink="/auth/login" routerLinkActive="mat-accent">
                <button mat-raised-button>
                    Login
                </button>
                </a>
            </div>

            <div class="functionButton" *ngIf="!isAuthed">
            <a routerLink="/auth/signup" routerLinkActive="mat-accent">
                <button mat-raised-button>
                    Sign Up
                </button>
            </a>
            </div>

            <div class="functionButton" *ngIf="isAuthed">
                <button mat-raised-button>
                    Be supplier
                </button>
            </div>

            <div class="functionButton" *ngIf="isAuthed">
                <button mat-raised-button>
                    Search for Food
                </button>
            </div>

            <div class="functionButton" *ngIf="isAuthed">
                <button mat-raised-button>
                    My Profile
                </button>
            </div>

        
        </mat-toolbar>

    </div>

</div>

